body {
  background-color: #2e222f !important;
  margin: 1rem !important;
}

img {
  margin: auto;
  display: block;
}

.card {
  background-color: #c7dcd0 !important;
}

.btn {
  background-color: #0eaf9b !important;
}

.card-header {
  text-align: center !important;
}
